<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.w3engineers.vpn">

    <application>
        <service
                android:name=".LocalVPNService"
                android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>

    </application>

</manifest>
